.app{
    display: flex;
    align-items: flex-start;
}

.login{
    margin: 0px auto;
}

.login .imgGoogle{
    height: 40px;
    width: 40px;
}

.navbar{
    top: 0;
    left: 0;
    background-color: #DAB1DA;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
}

.messages{
    display: flex; flex-direction: column; gap: 5px;
}

.messages .cimzettek{
    width: fit-content;
    padding: 5px;
}

.messages .uzenetek{
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 70vw;
    border: 1px solid black;
}

.uzenetek .tolem{
    align-self: flex-end;
    border: 1px solid black;
    background-color: lightskyblue;
    padding: 5px;
}

.uzenetek .kapott{
    align-self: flex-start;
    border: 1px solid black;
    background-color: lightyellow;
    padding: 5px;
}

.uzenetek .gomb{
    display: flex; gap: 5px;
}